<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<false/>
		<key>Types</key>
		<array>
			<string>com.cocoatron.XMLInfoset</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>Cocoatron</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<true/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>Developer</string>
	<key>AMDefaultParameters</key>
	<dict>
		<key>schemaType</key>
		<integer>0</integer>
		<key>schemaURLString</key>
		<string></string>
	</dict>
	<key>AMDescription</key>
	<dict>
		<key>AMDAlert</key>
		<string></string>
		<key>AMDInput</key>
		<string></string>
		<key>AMDNote</key>
		<string></string>
		<key>AMDOptions</key>
		<string>Validate against DTD, W3C XML Schema or RELAX NG XML syntax. To validate against DTD, select 'DTD' and specify DTD location or leave text field blank to use Doctype in source document. For XML Schema, specify 'XSD' and the schema location or leave text field blank to use schema referenced using xsi:schemaLocation attributes. For RELAX NG, you must specify 'RNG' and a schema file location.</string>
		<key>AMDRelatedActions</key>
		<array>
			<string>com.cocoatron.Automator.Process_XIncludes_of_XML_Documents</string>
			<string>com.cocoatron.Automator.Serialize_XML_Documents</string>
			<string>com.cocoatron.Automator.Query_XML_Documents</string>
			<string>com.cocoatron.Automator.Validate_XML_Documents</string>
			<string>com.cocoatron.Automator.Load_XML_Documents</string>
		</array>
		<key>AMDRequires</key>
		<string></string>
		<key>AMDResult</key>
		<string></string>
		<key>AMDSummary</key>
		<string>Validate input XML Infosets against selected schema type and instance.</string>
	</dict>
	<key>AMIconName</key>
	<string>(* The name of the icon *)</string>
	<key>AMKeywords</key>
	<array>
		<string>doctype</string>
		<string>relaxng</string>
		<string>relax ng</string>
		<string>rng</string>
		<string>wxs</string>
		<string>xsd</string>
		<string>dtd</string>
		<string>validate</string>
		<string>cocoatron</string>
		<string>xproc</string>
		<string>libxml</string>
		<string>schema</string>
		<string>xml</string>
	</array>
	<key>AMName</key>
	<string>Validate XML Documents</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.cocoatron.XMLInfoset</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>AMWarning</key>
	<dict>
		<key>Action</key>
		<string></string>
		<key>ApplyButton</key>
		<string></string>
		<key>IgnoreButton</key>
		<string></string>
		<key>Level</key>
		<integer>0</integer>
		<key>Message</key>
		<string></string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>Validate XML Documents version 1.0, Copyright (c) 2006, Todd Ditchendorf.</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.Automator.Validate_XML_Documents</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string>Validate_XML_Documents</string>
</dict>
</plist>
